Flask==2.2.0
gunicorn==20.1.0
itsdangerous==2.1.2
Jinja2==3.1.2
MarkupSafe==2.1.1
peewee==3.15.1
postgres==4.0
psycopg2-binary==2.9.3
psycopg2-pool==1.1
python-dotenv==0.20.0
six==1.16.0
Werkzeug==2.2.1
